<form action="" #gfgform="ngForm">
  <input type="text" id="nombre">
  <input type="text" id="precio">
  <!-- <input (change)="savefile($event)" type="file" id="imagen"> -->
  <button (click)="guardar()">agregar</button>
</form>


<!-- <button (click)="refrescar()">Refrescar</button> -->

<hr>

<div class="contenedor" *ngFor="let item of producto">
  <div class="acomodar">
    <div class="imagen">
      <img src="assets/prueba_imagen.png" alt="">
    </div>
    <div class="nombre">
      {{item.nombre}}
    </div>    
    <div class="precio">
      {{item.precio}}
    </div> 
  </div>
</div>

<style>
/* 
*{

  border: 1px solid black;
} */

img{

  height: 75px;
}

.acomodar{

  height: 100%;
  display: grid;
  grid-template-columns: [uno] 100px [dos] auto [tres];
  grid-template-rows: [inicio] 35px [medio] auto [final];
}

.imagen{

  grid-column-start: uno;
  grid-column-end: dos;
  grid-row-start: inicio;
  grid-row-end: final;

  display: flex;
  justify-content: center;
  align-items: center;

}

.nombre{

  grid-column-start: dos;
  grid-column-end: tres;
  grid-row-start: inicio;
  grid-row-end: medio;

  display: flex;
  align-items: center;
  
  font-family: calibri;
  font-size: 20px;
  color: #777777;
  }

.precio{

  grid-column-start: dos;
  grid-column-end: tres;
  grid-row-start: medio;
  grid-row-end: final;

  display: flex;
  align-items: center;
  
  font-weight: bolder;
  font-size: 20px;
  font-family: calibri;
  color: green;
}

.contenedor{

  background-color: #eeeeee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100px;
  width: 90%;
  margin: 20px;
}

</style>